nav {
    text-align: center;
}
h1 {
    color: blue;
    font-style: italic;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#home p {
    color: blue;
    text-align: center;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
}