.aqua-box {
    text-decoration-color: black;
    text-align: center;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 1500px;
    height: 25px;
    top: 2%;
}
nav a {
    color: white;
}
a:hover {
	text-decoration: none;
	color: silver;
}
header {
    width: 100%;
    height: 500px;
  }
header img {
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }
h1 {
    font-size: 36px;
    color: black;
    font-style: italic;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body {
    background-color: white;
    justify-content: center;
    align-items: center;
    top: 50%;
}
p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#bio {
    color: black;
    text-align: justify;
    text-size-adjust: 20px;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 1cm;
}
h2 {
    color: black;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 400px;
  height: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.left {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: aqua;
  color: white;
  font-size: 24px;
  padding: 16px 16px;
}
.image {
  opacity: 1;
  display: block;
  width: 400px;
  height: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: aqua;
  color: white;
  font-size: 24px;
  padding: 16px 16px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 3px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
