nav {
    text-align: center;
}
body {
    background-color: #00f9ff;
}
header {
    width: 100%;
    height: auto;
  }
  header img {
    width: 100%;
    height: auto;
  }
header h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
header p {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
h1 {
    color: black;
    font-style: italic;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#home p {
    color: black;
    text-align: center;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
}